.Navbar
{
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed; 
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border: 1px solid grey;
    transition: transform 0.2s ease-out;
}
.navbar--hidden {
    transform: translateY(-100%);
  }
.logo
{
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}
.nav-itmes
{
    display: flex;
    padding-top: 1rem;
    align-items: center;
    list-style: none;
    gap: 4rem;
}
.items 
{
    cursor: pointer;
    font-weight: 400;
    color: black;
}
.items:hover
{
    color: grey;
}
.contact
{
    color: black;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.icon
{
    margin-right: 6px;
}
